.education-container{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin:0 2rem;
}

.school-section-title{
    display:flex;
    align-items: center;
}

.school-section-title h4{
    margin:0;
    border-bottom: 1px solid black;
    margin-top:1rem;
    margin-bottom:2px;
    margin-right: .5rem;
}

.school-section-title p {
    margin:0;
    cursor: pointer;
}

.schools{
    display:flex;
    flex-flow: row nowrap;
    margin-left:2rem;
}


.education-form-container{
    position: absolute;
    border:1px solid black;
    background-color: grey;
    border-radius: 10px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    
}

.education-form{
    display:flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
    
}

.education-form > input {
    margin-top:.2rem;
    margin-bottom: 1rem;
}