.work-exp-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 0 2rem;
}

.job-section-title {
    border-bottom: 1px solid black;
    display:flex;
}

.job-section-title h4 {
    margin-bottom: .2rem;
    margin-right: .5rem;
}

.jobs {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 2rem;
}

.job-form-container {
    position: absolute;
    border: 1px solid black;
    background-color: grey;
    border-radius: 10px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);

}

.job-form {
    display: flex;
    flex-flow: column nowrap;
    padding: 1.5rem;
}

.job-form>input {
    margin-top: .2rem;
    margin-bottom: 1rem;
}