.App {
  text-align: center;
  height: 100vh;
  display:grid;
  grid-template-rows: .1fr 1fr .1fr;
  grid-template-areas: 
  'header header header'
  'main main main'
  'footer footer footer';
}


.header {
  border: 1px solid black;
  grid-area: header;
}

.main{
  border:1px solid black;
  width: 80%;
  margin:0 auto;
  grid-area: main;
}

.footer {
  border: 1px solid black;
  grid-area: footer;
}